body {
  font-family: Arial;
  text-align: center;
  background-color: #f5f5f5;
}

button {
  padding: 8px 12px;
  margin: 5px;
  border: none;
  background-color: #333;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #555;
}

#grid {
  display: grid;
  grid-template-columns: repeat(20, 25px);
  gap: 2px;
  margin: 20px auto;
  width: fit-content;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  padding: 10px;
  background: white;
  border-radius: 10px;
}
.cell {
  width: 25px;
  height: 25px;
  background-color: white;
  border: 1px solid #ccc;
}

.start {
  background-color: green;
}

.end {
  background-color: red;
}

.wall {
  background-color: black;
}

.visited {
  background-color: #87CEEB; /* sky blue */
}

.path {
  background-color: yellow;
  border: 2px solid orange;
}

.weight {
  background-color: orange;
}
